* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
  position: sticky;
  top: 0;
  padding: 10px;
  background: #222;
  z-index: 9999;
}

header > div {
  margin: auto;
  display: block;
  height: 100%;
  max-width: 720px;
}

main {
  max-width: 720px;
  margin: auto;
}

button {
  height: 60px;
  width: 100%;
  border: none;
  background-color: green;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
}